{% extends 'layout.html' %}

{% block body %}
<H2>IT WORKS</H2>
{% from "/includes/_formhelpers.html" import render_field %}
<form method=post>
  <dl>
{{render_field(form.name , clas_ = "form-control")}}

{{render_field(form.username , clas_ = "form-control")}}

{{render_field(form.email , clas_ = "form-control")}}

{{render_field(form.password , clas_ = "form-control")}}

{{render_field(form.confirm , clas_ = "form-control")}}
  </dl>
  <p><input type=submit value=Register>
</form>
{% endblock %}